body{
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.contenedor{
  background-color: white;
  height: 300px;
  border-radius: 25px;
  margin-top: -50px;
}

.logo{
  margin-top: 6rem;
}

.fondo{
  background-color: red;
}

.fondo1{
  background-color: green;
}
