body
{
  background-image: url(../images/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header
{
  background-image: url(../images/fondo_header.jpg);
}

.navegador
{
  background-color: 	#d65600;
  min-height: 15%;
  border: none !important;
}
.navegador li
{
  text-align: center;
}
#logo
{
  width: 35%;
  margin-left: 3rem;
}
.redes-sociales
{
  padding-top: 7%;
  padding-bottom: 3%;
}
.redes-sociales a:hover
{
  opacity: 0.5;
}
.img-social
{
  height: 50px;
  width: 50px;
}
div.main
{
  color: white;
}
.navegador .nav li a:hover
{
  color: white;
  background-color: #ff9a57;
}
.navegador .nav li a
{
  color: white;
}
.col_izq li:hover
{
  background-color: gray;
}
.row .images
{
  width: 100%;
  margin-top: 6%;
  margin-bottom: 3%;
}
.perfil
{
  width: 80px;
  height: 80px;
}
#comment
{
  width: 100%;
  height: 80px;
  display: inline;
}
.col_izq
{
  padding: 5px;
  color: black;
}
.col_izq li
{
  background-color: #F8F8FF;
}
.col_izq div
{
  margin-bottom: 5px;
}
article
{
  padding: 10px;
}
article .row
{
  padding: 5px 5px 5px 10px;
}

@media (min-width: 768px)
{
  .menu_alto
  {
    width: 100%;
  }
  .menu_alto li
  {
    width: 16%;
  }
}
