body{
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

.contenedor_central{
  background-color: rgba(89, 89, 89, 0.62);
}

.cocinando{
  border-right: thin solid white;
}
.titulo_blog {
  color: white;
}

.slogan_blog{
  color: white;
  text-align: right;
}

.bloque_izq{
  background-color: #FDE7FB;
  color: #C40000;
}

.boton_busqueda{
  background-color: red;
}

.favoritos2{
  margin-top: 1rem;
}

img[src^="img/plato"]{
  background-color: white;
  padding: 0.3rem;
}

.imagen_perfil{
  border-radius: 100%;
}

.fondo{
  background-color: red;
}

.fondo2{
  background-color: green;
}

.comentario{
  border: 1px solid #AEAEAE;
  border-radius: 30px;
  margin-top: 1rem;
  padding: 0.5rem;
  color: #727272;
  font-size: 15px;
}

.parrafo_comentario{
  margin-left: 1rem;
}

.entrada_texto{
  margin-top: 2rem;
  color: black;
  font-size: 15px;
}
